/* HERO */
#hero{
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: var(--cor-rodape);
  padding-top: 2rem;
  height: 25dvh;
  border-bottom: 5px solid var(--cor-borda);
  margin-bottom: 5dvh;
  color: var(--cor-fonte-topo);
}
/* Fundo FAC */
body{
  background-color: var(--cor-fundo);
}

/* Link do SAC */
#sac{
  display: flex;
  margin-bottom: 5dvh;
  align-items: center;
  margin-left: 6rem;
  gap: 10px;
}

#sac img{
  width: 3rem;
  border-radius: 10px;
}

#sac a{
  color: var(--cor-fonte-link);
  font-size: 20px;
}

/* FAQ */
  #faq{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  margin-left: 6rem;
}

details {
  border: 2px solid var(--cor-borda);
  width: 70vw;
  min-height: 6vw;
  background-color: var(--cor-card);
  display: flex;
  justify-content: center;
  flex-direction: column;
  border-radius: 5px;
  color: var(--cor-fonte-corpo);
  transition: 0.5s;
}

details:hover{
  border: 2px solid var(--cor-borda);
  transform: translateY(-5px);
}

summary{
  margin: 1rem;
}

summary:hover{
  cursor: pointer;
}

details p {
  padding: 0 2rem 2rem 2rem;

}

