/* TUDO */
#conteudo-inferior{
    display: flex;
}

li {
    list-style-type: none;
}

/* Slider - Hero */
main {
    margin-left: 4rem;
    width: calc(100% - 4rem);
    height: 100vh;
    top: 0;
}

.container-slider {
    position: relative;
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 2rem;
    top: 0;
    gap: 1rem;
}

.container-slides {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    top: auto;
}

.slider {
    position: absolute;
    opacity: 0;
    transition: opacity 0.1s;
    width: 100%;
}

.on {
    opacity: 1;
}

#prev-button, #next-button {
    width: 30px;
    height: 30px;
    border: none;
    background-color: transparent;
    cursor: pointer;
}

#prev-button img, #next-button img {
    width: 100%;
    height: 100%;
}

#prev-button {
    transform: rotate(180deg);
}

#slider-button {
  position: absolute;
  left: 10rem;
  z-index: 10;
  background-color: #000b3d;
  color: white;
  font-family: var(--fonte-texto);
  font-style: italic;
  padding: 12px 24px;
  border-radius: 4px;
  text-decoration: none;
}