.area-login {
    display: flex;
    justify-content: center;        
    align-items: center;
    width: 100vw;
    margin-top: 3rem;
    margin-left: 4rem;
}

.formulario {
    width: 35vw;
    padding: 35px;
    background-color: var(--cor-card);
    border-radius: 12px;
    transition: 0.5s;
}

.formulario:hover{
    box-shadow: 0 5px 20px var(--cor-sombra);
}

.formulario h1 {
    text-align: center;
    color: var(--cor-fonte-suave);
    margin-bottom: 5px;
}

.formulario p {
    text-align: center;
    color: var(--cor-fonte-suave);
    margin-bottom: 30px;
}

label {
    display: block;
    margin-bottom: 7px;
    color: var(--cor-fonte-corpo);
    font-weight: bold;
}

input {
    width: 100%;
    padding: 12px;
    color: var(--cor-fonte-corpo);
    margin-bottom: 18px;
    border: 1px solid var(--cor-fonte-suave);
    border-radius: 6px;
    background-color: var(--cor-fundo);
    font-size: 15px;
}

input:focus {
    outline: none;
    border-color: var(--cor-fonte-corpo);
}

.botoes {
    display: flex;
    gap: 10px;
    margin-top: 10px;
}

.btn-formulario {
    padding: 12px;
    border-radius: 6px;
    background-color: var(--cor-topo);
    color: var(--cor-fonte-suave);
    transition: 0.5s;
}

.btn-formulario:hover {
    background-color: var(--cor-fundo-suave);
}
