 /* Importação das fontes */
  @import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Roboto:ital,wght@0,100..900;1,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

  /* Variáveis globais */

  :root{
  --cor-fundo:        #ebebeb;
  --cor-topo:         #000000;;
  --cor-fonte-topo:   #cccccc;
  --cor-fonte-suave:  #979797;
  --cor-rodape:       #292929;
  --cor-fonte-corpo:  #000000;
  --cor-fonte-rodape: #acacac;
  --cor-fundo-menu:   #0e0e0ef1;
  --cor-fonte-hover:  #cccccc;
  --fonte-titulo:     'Bebas Neue', arial, sans-serif;
  --fonte-navegacao:  'Montserrat', arial, sans-serif;
  --fonte-texto:      'Roboto', arial, sans-serif;
  --fonte-rodape:     'Josefin Sans', sans-serif;
}

  /* CORPO-GERAL */
body{
    margin: 0;
  }

  /* Topo */
  #topo{
    z-index: 1000;
    top: 0;
    position: sticky;
    background-color: var(--cor-topo);
    color: var(--cor-fonte-topo);
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    border-bottom: 1px solid #ffffff;
  }

  .logo{
    width: 20vw;
  }

  .navegacao{
    display: flex;
    align-items: center;
  }

  input[type="search"] {
    width: 30vw;
    height: 2vw;
  }

  .menu img{
    width: 2.5rem;
  }

  .menu {
    background-color: var(--cor-topo);
    font-family: var(--fonte-navegacao);
    color: var(--cor-fonte-topo);
    font-size: 1rem;
    display: flex;
    align-items: center;
    text-decoration: none;
    gap: 15px;
  }



   .menu a {
    text-decoration: none;
    color: inherit;
    display: flex;
    align-items: center;
  }